<div class="chart__bar">
    <div class="container">
        <button class="btn-round active">5m</button>
        <button class="btn-round">H</button>
        <button class="btn-round">D</button>
        <button class="btn-round">W</button>
        <button class="btn-round">M</button>
        <button class="btn-round chart__refresh"><i class="icon-refresh"></i></button>
        <button class="btn-round active"><i class="icon-graph"></i></button>
        <button class="btn-round"><i class="icon-candels"></i></button>
        <div class="chart__bar-right">
            <button class="btn-empty">Whats new?</button>
            <span class="chart__settings-wrap">
                <button class="chart__settings">
                    <i class="icon-settings"></i>
                </button>
            <div class="tooltip tooltip-top_right">
                <div class="tooltip__row">
                    <div class="tooltip__input">
                        <div class="switcher">
                            <label>
                                <input name="radio3" type="radio" checked>
                                <span class="label">Range</span>
                                <span class="checker"></span>
                            </label>

                            <label>
                                <input name="radio3" type="radio">
                                <span class="label">Laverage</span>
                            </label>
                        </div>
                    </div>
                    <div class="tooltip__label">
                        Trade mode
                    </div>
                </div>

                <div class="tooltip__row">
                    <div class="tooltip__input">
                        <div class="switcher">
                            <label>
                                <input name="radio2" type="radio">
                                <span class="label">Linear</span>
                                <span class="checker"></span>
                            </label>

                            <label>
                                <input name="radio2" type="radio"  checked>
                                <span class="label">Exponential</span>
                            </label>
                        </div>
                    </div>
                    <div class="tooltip__label">
                        Scale
                    </div>
                </div>

                <div class="tooltip__row">
                    <div class="tooltip__input">
                        <div class="switcher">
                            <label>
                                <input name="radio1" type="radio">
                                <span class="label">White</span>
                                <span class="checker"></span>
                            </label>

                            <label>
                                <input name="radio1" type="radio"  checked>
                                <span class="label">Black</span>
                            </label>
                        </div>
                    </div>
                    <div class="tooltip__label">
                        Theme
                    </div>
                </div>
            </div>
            </span>

        </div>
    </div>
</div>