</div>
<footer class="page-footer">
    <div class="page-footer_right">Escrowault © 2016. All rights reserved.</div>
    <ul class="page-footer_list page-footer_list-alt">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About us</a>
        </li>
        <li>
            <a href="#">Terms & conditions</a>
        </li>
        <li>
            <a href="#">FAQ</a>
        </li>
    </ul>
</footer>
<!--<script src="js/main.js"></script>-->
</body>
</html>