<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__title">
                LEGAL INFORMATION
            </div>
            <ul class="footer__list">
               <li>
                   <a href="#">INFINOX CLIENT AGREEMENT</a>
               </li>
               <li>
                   <a href="#">IB AGREEMENT</a>
               </li>
               <li>
                   <a href="#">PRIVACY POLICY</a>
               </li>
               <li>
                   <a href="#">FAIR USAGE POLICY</a>
               </li>
               <li>
                   <a href="#">EXECUTION ONLY RISK WARNING</a>
               </li>
               <li>
                   <a href="#">CORPORATE APPLICATION</a>
               </li>
               <li>
                   <a href="#">SIPP APPLICATION FORM</a>
               </li>
               <li>
                   <a href="#">OBJECTIVES STATEMENT</a>
               </li>
               <li>
                   <a href="#">AFFILIATE AGREEMENT</a>
               </li>
            </ul>
        </div>
        <div class="footer__block">
            <div class="footer__title">
                ABOUT US
            </div>
            <p>Spreads From 0.5 pips - Leverage Up To 300:1 - No Requotes Trade Online 24/5 - Forex. Indices. Commodities. Options</p>
            <p>INFINOX CAPITAL Ltd is a company registered in England and Wales under number 06854853. Registered Ofice: Birchin Court 20 Birchin Lane, London, EC3V 9DU, United Kingdom</p>
            <p>INFINOX is a major provider of online foreign exchange (Forex) trading services, ofering margin FX and commodities trading to individuals and institutional clients worldwide.</p>
        </div>
        <div class="footer__block">
            <div class="footer__title">
                CONTACTS
            </div>
            <div class="footer__contact">
                <a href="mailto:support@infinox.com">support@infinox.com</a>
                <div class="footer__phone">
                    +44(0)20 3713 4490
                </div>
            </div>
            <div class="footer__title footer__title-pay">
                WE ACCEPT
            </div>
                <a href="https://infinox.com/uk/member-login/" class="payment-lnk"><div class="ic ic__mastercard"></div></a>
                <a href="https://infinox.com/uk/member-login/" class="payment-lnk"><div class="ic ic__visa"></div></a>
                <a href="https://infinox.com/uk/member-login/" class="payment-lnk"><div class="ic ic__skrill"></div></a>
                <a href="https://infinox.com/uk/member-login/" class="payment-lnk"><div class="ic ic__bank"></div></a>
                <a href="https://infinox.com/uk/member-login/" class="payment-lnk"><div class="ic ic__unionpay"></div></a>
                <a href="https://infinox.com/uk/member-login/" class="payment-lnk"><div class="ic ic__neteller"></div></a>
        </div>
        <div class="footer__bottom">
            <div class="footer__block">
                <div class="footer__title">
                    FCA REGULATED
                </div>
                <p>NFINOX CAPITAL Ltd Is authorised and regulated by the Financial Conduct Authority under firm reference number 501057.</p>
            </div>
            <div class="footer__block footer__block-alt">
                <div class="footer__title">
                    DISCLAIMER
                </div>
                <p>Trading Derivatives and FOREX carries a high level of risk to your capital including losing more than your initial expenditure. The efect of leverage is that both gains and losses are magnified . You should only trade Forex if you can afford to carry these risks. The historical financial performance of any underlying instrument is no guarantee or indicator of future performance. Trading Derivatives and FOREX may not be suitable for all investors, so please ensure that you fully understand the risks involved, and seek independent advice if necessary.</p>
            </div>
        </div>
        <p class="footer__copyright">© 2016 INFINOX CAPITAL Ltd</p>
    </div>
</footer>
<script src="js/main.js"></script>
</body>
</html>