<header class="page-header navbar navbar-fixed-top">
    <span class="page-header_logo">
        <a href="#">
            <img src="./img/logo.png" alt="logo" class="logo-default">
        </a>
    </span>
    <nav class="pull-right">
        <ul class="page-header_nav">
            <li class="page-header_nav-item">
                <a href="#" class="page-header_nav-link">HOW IT WORKS</a>
            </li>
            <li class="page-header_nav-item">
                <a href="#" class="page-header_nav-link">ABOUT US</a>
            </li>
            <li class="page-header_nav-item">
                <a href="#" class="page-header_nav-link">FAQ</a>
            </li>
            <li class="page-header_nav-item">
                <a href="#" class="page-header_nav-link page-header_nav-link_is-setting">
                    <i class="icon-setting"></i>
                </a>
            </li>
            <li class="page-header_nav-item">
                <a href="#" class="page-header_nav-link" data-toggle="dropdown">
                    <span class="page-header_username">Chuck Norris</span>
                    <span class="page-header_user-image">
                        <img alt="" class="img-circle" src="">
                    </span>
                    <i class="page-header_user-caret icon-down"></i>
                </a>
            </li>
        </ul>
    </nav>

</header>