<div class="page__block">
    <div class="container trading__container">
        <div class="table__holder table__trading-holder">
            <div class="page__title">Trade History</div>
            <div class="table__wrapper">
                <table class="table__trading">
                    <thead>
                    <th></th>
                    <th>Range</th>
                    <th>Expiry Time</th>
                    <th>Assets</th>
                    <th>Investment</th>
                    <th>Return</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <i class="icon-play highlight"></i>
                        </td>
                        <td>
                            <i class="range color-1"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £999999.99
                        </td>
                        <td>
                        <span class="highlight">
                            £999999.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-stop"></i>
                        </td>
                        <td>
                            <i class="range color-2"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-stop"></i>
                        </td>
                        <td>
                            <i class="range color-2"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-stop"></i>
                        </td>
                        <td>
                            <i class="range color-2"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-stop"></i>
                        </td>
                        <td>
                            <i class="range color-2"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-stop"></i>
                        </td>
                        <td>
                            <i class="range color-2"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-stop"></i>
                        </td>
                        <td>
                            <i class="range color-2"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-stop"></i>
                        </td>
                        <td>
                            <i class="range color-2"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-pause"></i>
                        </td>
                        <td>
                            <i class="range color-3"></i> -
                        </td>
                        <td>
                            18:54 08/12/2016
                        </td>
                        <td>
                            EUR / USD
                        </td>
                        <td>
                            £5.99
                        </td>
                        <td>
                        <span>
                            £7.99
                        </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <button class="pagination__btn disabled">
                    <i class="icon-left"></i>
                    Back
                </button>
                <button class="pagination__btn">
                    Next 10
                    <i class="icon-right"></i>
                </button>
            </div>
        </div>
        <div class="trading__props">
            <div class="page__title">Investment Live</div>
            <div class="trading__block">
                <div class="trading__label">Currencies</div>
                <div class="trading__input">EUR / USD</div>
            </div>
            <div class="trading__block">
                <div class="trading__line">
                    <div class="trading__label">Trade started</div>
                    <div class="trading__input">18:22:41 Dec 8</div>
                </div>
                <div class="trading__line">
                    <div class="trading__label">Trade duration</div>
                    <div class="trading__input">00:31:40</div>
                </div>
                <div class="trading__line">
                    <div class="trading__label">Expiry time</div>
                    <div class="trading__input">18:54:21 Dec 8</div>
                </div>
            </div>
            <div class="trading__block">
                <div class="trading__line">
                    <div class="trading__label">Max</div>
                    <div class="trading__input">1.06096</div>
                </div>
                <div class="trading__line">
                    <div class="trading__label">Min</div>
                    <div class="trading__input">1.06096</div>
                </div>
            </div>
            <div class="trading__block">
                <div class="trading__line">
                    <div class="trading__label">Investment</div>
                    <div class="trading__input">$100</div>
                </div>

            </div>
            <div class="trading__block">
                <div class="page__title highlight">Investment Live</div>
            </div>
            <div class="trading__block">
                <div class="trading__line">
                    <div class="trading__label">Return</div>
                    <div class="trading__input">$234</div>
                </div>
            </div>
            <div class="trading__block">
                <div class="trading__line">
                    <div class="trading__label">Time in range</div>
                    <div class="trading__input">100%</div>
                </div>
            </div>
        </div>
    </div>

</div>
