<div class="panel">
    <div class="container">
        <div class="panel__block">
            <label>Class and Asset</label>
            <div class="dropdown__holder">
                <div class="dropdown__title">
                    <span>Spot Brent Crude Oil:</span> UKO / USD
                    <i class="icon-bottom-drop"></i>
                    <i class="icon-top-drop hidden"></i>
                </div>
                <ul class="dropdown__menu">
                    <li>asdasd</li>
                    <li>asdasd</li>
                    <li>asdasd</li>
                    <li>asdasd</li>
                </ul>
            </div>
        </div>
        <div class="panel__block">
            <label>Investment</label>
            <input type="text">
        </div>
        <div class="panel__block">
            <label>Potential return</label>
            <div class="panel__number">
                <span>$</span>0.00
            </div>
            <div class="panel__number">
                00.00<span>%</span>
            </div>
        </div>
        <div class="panel__right">

            <button class="btn-big">trade now</button>
        </div>
    </div>

</div>