@font-face {
  font-family: 'helveticaneuecyr';
  src:
  url('../fonts/HelveticaNeueCyr-Bold_0.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Bold_0.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Bold_0.svg#HelveticaNeueCyrBold') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaneuecyr';
  src:
  url('../fonts/HelveticaNeueCyr-Medium_0.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Medium_0.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Medium_0.svg#HelveticaNeueCyrMedium') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaneuecyr';
  src:
  url('../fonts/HelveticaNeueCyr-Roman_0.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Roman_0.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Roman_0.svg#HelveticaNeueCyrRoman') format('svg');
  font-weight: 400;
  font-style: normal;

}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nb3zlq');
  src:  url('../fonts/icomoon.eot?nb3zlq#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?nb3zlq') format('truetype'),
  url('../fonts/icomoon.woff?nb3zlq') format('woff'),
  url('../fonts/icomoon.svg?nb3zlq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-square-o:before {
  content: "\f046";
}
.icon-loupe:before {
  content: "\e912";
}
.icon-cloud:before {
  content: "\e913";
}
.icon-ok:before {
  content: "\e911";
}
.icon-add_user:before {
  content: "\e900";
}
.icon-atribution:before {
  content: "\e901";
}
.icon-atribution_no:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
.icon-delete_user:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-key:before {
  content: "\e906";
}
.icon-left:before {
  content: "\e907";
}
.icon-no_delete:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-right:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-setting:before {
  content: "\e90c";
}
.icon-sign_out:before {
  content: "\e90d";
}
.icon-sortirovka:before {
  content: "\e90e";
}
.icon-trash:before {
  content: "\e90f";
}
.icon-upload:before {
  content: "\e910";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-checkmark:before {
  content: "\ea10";
}

