.footer {
  ._clearfix();
  padding: 64px 40px;
  background: @footer-bg;
  font-size: 14px;
  color: fade(@main-color, 50%);
  a {
    color: fade(@main-color, 50%);
    &:hover {
      color: @theme-color;
    }
  }
  &__block {
    float: left;
    width: 100%/3;
    box-sizing: border-box;
    padding-left: 35px;
    &:first-child {
      padding-left: 0;
    }
    &-alt {
      width: 100%/3*2;
    }
    p {
      line-height: 22px;
      margin-top: 22px;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 37px;
    color: @main-color;
    &-pay {
      margin-bottom: 20px;
    }
    &+p {
      margin-top: -5px;
    }
  }
  &__list {
    list-style: none;
    li {
      margin-top: 14px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__contact {
    margin: -8px 0 104px;
    a {
      color: @main-color;
    }
  }
  &__phone {
    color: @theme-color;
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
  }
}
[class*="ic__"] {
  background-image: url("../img/sprite.png");
}
.ic {
  filter: grayscale(1);
  margin-right: 10px;
  margin-bottom: 16px;
  transition: all .3s;
  display: inline-block;
  &:hover {
    filter: grayscale(0);
  }
  &__mastercard {
    background-position: 0 0;
    width: 147px;
    height: 39px;
  }
  &__visa {
    background-position: -150px -42px;
    width: 66px;
    height: 39px;
  }
  &__skrill {
    background-position: -150px 0;
    width: 69px;
    height: 39px;
  }
  &__bank {
    background-position: 0 -84px;
    width: 92px;
    height: 39px;
  }
  &__unionpay {
    background-position: -150px -84px;
    width: 61px;
    height: 39px;
  }
  &__neteller {
    background-position: 0 -42px;
    width: 101px;
    height: 39px;
  }
}