@body-bg: #000;
@main-color: #fff;

@theme-color: #ffcc00;
@border: #3f3e3e;

@basic-size: 12px;
@radius: 5px;

@settings-border: @theme-color;
@settings-color: @theme-color;

@page-block-bg: #3f3e3e;

@color-2: #ff0000;
@color-3: #3aaa35;

//notificator
@num-bg: @theme-color;
@num-color: #000;
@num-font: 800 12px/24px "Lato";

//big buttons variables start
//big btn
@btn-big-bg: @theme-color;
@btn-big-bg-active: fade(@theme-color, 10%);
@btn-big-shadow: @theme-color;
@btn-big-font: 800 18px "Lato";
@btn-big-disabled: #594700;

//empty btn
@btn-empty-border: @theme-color;
@btn-empty-border-disable: #594700;
@btn-empty-color-disable: #594700;
@btn-empty-bg-disable: #594700;
@btn-empty-color: @theme-color;
@btn-empty-font: 700 18px "Lato";

//round-btn
@btn-round-bg: #292828;
@btn-round-border: #292828;
@btn-round-border-active: @theme-color;;
@btn-round-color: @theme-color;
@btn-round-color-inactive: fade(#fff, 30%);
@btn-round-color-disable: #000;
@btn-round-font: 400 12px/36px "Lato";
//big buttons variables end

//inputs vars start
@input-bg: fade(@theme-color, 15%);
@input-bg-disable: #0d0b00;
@input-border-disable: fade(@theme-color, 15%);
@input-color-disable: #333;
@input-border: @theme-color;
@input-color: #fff;
@input-color-2: #929292;
@input-font: 400 14px/36px "Lato";
@input-shadow: @theme-color;
//inputs vars end

//dropdown vars start
@dropdown-menu-bg: #464646;
@dropdown-menu-bg-hover: #000;
@dropdown-menu-color: @main-color;
@dropdown-menu-color-hover: @theme-color;
@dropdown-shadow: fade(#909090, 50%);
//dropdown vars end

//switcher start
@switcher-border: #000;
@switcher-bg: #3f3e3e;
@switcher-color: fade(#fff, 30%);
@switcher-active-bg: #262525;
@switcher-active-color: @theme-color;
@switcher-shadow: fade(@switcher-border,55%);
//switcher end

//tooltip start
@tooltip-bg: #464646;
@tooltip-bg-alt: #271f01;
@tooltip-border-alt: @theme-color;
@tooltip-color-alt: @theme-color;
//tooltip end

//charts start
@chart-bg: transparent;
@chart-gradient-start: #594700;
@chart-gradient-stop: #1d1804;
@chart-border: #808080;
@chart-mover-item-color: #000;
@mover-line: #fff;
@mover-border: @theme-color;
@mover-color: @theme-color;
//charts end

//table start
@table-border: #2c2b2b;
@trading-prop-bg: #323232;
//table end

//pagination start
@pagination-border-disabled: #323232;
//pagination end

//footer start
@footer-bg: #141414;
//footer end

//header start
@header-bg: transparent;
@panel-bg: transparent;
@panel-sep: #fff;
@panel-color: #fff;
@panel-border: @border;
@panel-number: @theme-color;
//header end

/////////////////////////////white scheme////////////////////////////////////////////////

@settings-border: #000;
@settings-color: #000;

//inputs vars start
@input-bg: #d9d9d9;
@input-bg-disable: #0d0b00;
@input-border-disable: fade(@theme-color, 15%);
@input-color-disable: #333;
@input-border: #000;
@input-color: #000;
@input-shadow: #000;
//inputs vars end

//empty btn start
@btn-empty-border: #000;
@btn-empty-border-disable: #ccc;
@btn-empty-color-disable: #ccc;
@btn-empty-bg-disable: #ccc;
@btn-empty-color: #000;
//empty btn end

//round-btn
@btn-round-bg: #ececec;
@btn-round-border: #ececec;
@btn-round-border-active: #000;
@btn-round-color: #000;
@btn-round-color-inactive: #929292;
@btn-round-color-disable: #fff;
//big buttons variables end

//tooltip start
@tooltip-bg-alt: #fff7d9;
@tooltip-border-alt: @theme-color;
@tooltip-color-alt: #000;
//tooltip end

//header start
@header-bg: #000;
@panel-bg: #fff;
@panel-sep: #929292;
@panel-color: #000;
@panel-border: #ccc;
@panel-number: #000;
//header end

//charts start
@chart-bg: #fff;
@chart-gradient-start: #594700;
@chart-gradient-stop: #1d1804;
@chart-border: #808080;
@chart-mover-item-color: #000;
@mover-line: @theme-color;
@mover-border: #000;
@mover-color: #000;
//charts end
